form {
    display: flex;
    flex-direction: column; /*mantem em forma de coluna, um em baixo do outro*/
}
button {
    margin-right: 15px; /*afastamento dos botões salvar e cancelar*/
    margin-top: 20px; /*afastamento dos botões em relação ao formulário*/
}