form {
    display: flex;
    flex-direction: column;
}
button {
    margin-right: 15px; /*afastamento dos botões salvar e cancelar*/
    margin-top: 20px; /*afastamento dos botões em relação ao formulário*/
}