/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red {
    color: #e45454;
}
.v-middle{
    vertical-align: middle;
}
.success {
    background-color: rgb(72, 163, 69);
    color: #fff;
}

.error {
    background-color: #e45454;
    color: #fff;
}